@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<h1>@Model.Name</h1>
<h2>@Model.Title</h2>

@if (Model.Names != null && Model.Names.Any())
{
    <ul>
        @foreach (var name in Model.Names)
        {
            <li>@name</li>
        }
    </ul>
}
@if (Model.Image != null)
{
    <img style="width: 300px; height: auto" src="@Model.Image.Url()"/>
}